body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1{
    padding-left: 20px;
}

.container {
    max-width: 300px;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: floralwhite;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.form-group {
    margin-bottom: 15px;
    
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}
.alert {
    margin-top: 5px;
    color: #d9534f;
    font-size: 12px;
}
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    

}
.btn-primary:hover {
    background-color: #0056b3;
}
 
.login4 {
    margin-top: 10px;
    text-align: center;
}
.login4 a {
    color: #007bff;
    text-decoration: none;
}
.login4 a:hover {
    text-decoration: underline;
}
.asterisk{
    color: red;
}
.add-expense-button{
    padding-left: 92px;
}
